[user]
	name = Sylvain Marroufin
	email = marroufin.sylvain@gmail.com
	username = smarroufin
[branch]
	sort = -committerdate
[column]
	ui = auto
[core]
  pager = delta
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
	mnemonicPrefix = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[gpg]
	program = gpg1
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	followTags = true
[rerere]
	enabled = true
	autoupdate = true
[tag]
	sort = version:refname
[alias]
	cm = commit -m
	stasha = stash --all
[delta]
  theme = "ansi"
  navigate = true # use n and N to move between diff sections
  dark = true
  hyperlinks = true
  hyperlinks-commit-link-format = "https://github.com/{owner}/{repo}/commit/{commit}"

